<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="style1.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <footer>
    <div class="content">
      <div class="left-content">
        <img src="logo.png" alt="" />
        <div class="details" style="padding-top: 8%">
          <img src="house.png" alt="" />
          <div class="address">
            <p>VIT Vellore, Tamil Nadu, India.-632014</p>
          </div>
        </div>

        <div class="details">
          <img src="email.png" alt="" style="width: 9%; margin-left: 4.5%" />
          <div class="address" style="padding-left: 5%; padding-top: 2%">
            <p>info@technoscape.in</p>
          </div>
        </div>

        <div class="details" style="margin-top: -3%">
          <img src="phone.png" alt="" style="width: 9%; margin-left: 4.5%" />
          <div class="address" style="padding-left: 5%; padding-top: 2%">
            <p>+91 9876543210</p>
          </div>
        </div>
      </div>

      <div class="container2">
        <div class="nav">
          <a href="/home.html">Home</a>
        </div>
        <div class="nav">
          <a href="#">About</a>
        </div>
        <div class="nav">
          <a href="#">Conference</a>
        </div>
        <div class="nav">
          <a href="#">Committees</a>
        </div>
        <div class="nav">
          <a href="#">Partners</a>
        </div>
        <div class="nav">
          <a href="#">Location</a>
        </div>
        <div class="nav">
          <a href="#">Registration</a>
        </div>
      </div>

      <div class="container2">
        <div class="nav">
          <a href="#">Privacy</a>
        </div>
        <div class="nav">
          <a href="#">Policy</a>
        </div>
      </div>

      <div class="calc-container" id="contact-us">
        <h1>Contact</h1>
        <h2>Ask us anything</h2>
        <div class="calc-details">
          <div class="detail-cont">
            <input type="text" placeholder="Full Name" />
            <input type="text" placeholder="Email" />
          </div>
          <input type="text" placeholder="Leave us a message..." />
        </div>

        <button>Submit</button>
      </div>
    </div>
    <div class="bottom-details">
      <h1>Technoscape'23</h1>

      <button>FAQ</button>
    </div>
  </footer>
  <script src="./Static/js/menu_contact_us_off.js"></script>
</body>

</html>