@media screen and (max-width: 600px) {
    marquee {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    marquee {
      font-size: 16px;
    }
  }

  marquee {
    font-size: 30px;
    font-weight: 700;
    color: #7cbbe6;
    font-family: sans-serif;
  }