@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');


.C-carousel {
  height: 70vh;
  width: 80vw;
  overflow: hidden;
  position: relative;
}

.C-track {
  opacity: 1;
  transition: all 400ms ease;
  
  &--reinit {
    opacity: 0;
    transition: all 0ms linear;
  }
}

.overlay h1{ 
  color:#fff;
  position:absolute;
  z-index:12;
  top:20%;
  margin-left: 5%;
  margin-right: 5%;
  width:100%;
  text-align:center;
  align-items: center;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 1.5rem;
}

.overlay p{
  color: #fff;
  position: absolute;
  z-index: 12;
  top:30%;
  margin-left: 15%;
  text-align: justify;
  margin-right:15%;
  width:80%;
  line-height: 1.5;
  align-items: center;
  font-family: 'montserrat';
  font-weight: 450;
  font-size: 0.92em;
}


.C-slide {
  height:80vh;
  width: 80vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgb(70, 69, 70) no-repeat center / cover;
  background-blend-mode: overlay;
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  
  .C-carousel.initialized & {
    transform: scale(0.5) skew(-5deg) rotate(0);
    transition: all 700ms ease;
    
    &.active {
      transform: scale(1) skew(0) rotate(0);
      border-radius: 0;
    }
  }
 
}

.C-slide img {
  width: 100%;
  height: auto;
}


.C-navigation {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
  .C-carousel--vertical & {
    bottom: auto;
    left: auto;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }
  
  @media (max-width: 480px) {
    .C-carousel--horizontal & {
      bottom: 50px;
    }
  } 
}

.C-navigation__dot {
  width: 12px;
  height: 12px;
  background: #fff;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
  
  &.active {
    background: lighten(blue, 10%);
    transform: scale(1.3);
  }
}

.C-carousel-navigation-button {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
  border: 2px solid #fff;
  box-shadow: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 300mes ease;
  text-transform: capitalize;
  
  &:hover {
    background: #eee;
    color: blueviolet;
  }
  
  &:active {
    background: #fff;
  }

  &--next {
    left: auto;
    right: 10px;
  }
  
  .C-carousel--vertical & {
    bottom: 10px;
    top: auto;
    left: auto;
    right: 25px;
    transform: translateY(0);
    &--next {
      right: 20px;
    }
    
    &--prev {
      transform: translatex(calc(-100% - 5px));
    }
  }
 
}

.C-slide-title {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all 300ms ease;
  transition-delay: 500ms;
  
  @media (min-width: 480px) {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    font-size: 42px;
  }
  
  .active & {
      transform: translateY(0) translateX(0);
      opacity: 1;
   }
  
}

/* Pen controls */
.pen-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
  
  button {
    border: 2px solid blueviolet;
    box-shadow: none;
    border-radius: 0;
    font-weight: bold;
    color: blueviolet;
    padding: 10px;
    background: #fff;
    cursor: pointer;
  }
 
}