@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');


body
{
    margin: 0;
}

.flex_container0{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -4%;
    margin-top: -4%;
}

  
.flex_container1
{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 5%;
}

.left_container
{
    /* padding-top: 3.5%; */
    width: 50%;
    left: 0;
}

.left_container .clg_name
{
    width: 90%;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 1%;
}

.left_container .clg_name h1
{
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 1.3cqw;
}

.left_container p
{
    width: 90%;
    text-align: justify;
    font-size: 1cqw;
    line-height: 200%;
    font-family: "montserrat";
}

.right_container
{
    width: 50%;
    height: 100%;
    right: 0;
    object-fit: cover;
}

.right_container img
{
    width: 100%;
    height: 100%;
}




.left_container2
{
    width: 50%;
    height: 100%;
    right: 0;
    object-fit: cover;
  
}
.left_container2 img
{
    width: 100%;
    height: 100%;
   
}

.right_container2
{
    /* padding-top: 3.5%; */
    width: 50%;
    left: 0;
}

.right_container2 .clg_name
{
    width: 90%;
    margin-left:10% ;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 1%;
}

.right_container2 .clg_name h2
{
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 1.3cqw;
}

.right_container2 p
{
    width: 90%;
    margin-left: 10%;
    text-align: justify;
    font-size: 1cqw;
    line-height: 200%;
    font-family: "montserrat";
}




.flex_container3
{
    width: 100%;
    height: 70%;
    /* margin-right: 10%;
    margin-left: 10%; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
}
.card-overlay {
    position: absolute;
    padding: top 3%;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

.left_container3
{

    width: 100%;
    
}

.left_container3 img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left_container3 .card-header h4
{
    padding: 0;
    margin: 2%;
    padding-top: 4%;
    font-family: 'montserrat';
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    font-size: 2cqw;
}

.left_container3 
ul{
    width: 80%;
    padding: 0;
    margin-top: 5%;
    margin-left: 10%;
    list-style: none;
    text-align: left;
    align-items: center;
    font-family: 'montserrat';
    color: aliceblue;
    font-weight: 400;
    font-size: 1.2cqw;
}

