@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
	
	font-family: 'Montserrat', sans-serif;
	/* overflow-x: hidden; */
}

  
.container-map{
	width: 100%;
	height: 100vh;
	display:flex;
	padding-top: 5%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  iframe{
	width: 80%;
	height: 80%;
  }

  *{
	list-style: none;
	padding:0;
	margin:0;
  }

.wrapper{
	width: 80%;
	margin: 25px auto;
	/* height: 20%; */
	z-index: 1;
	position: relative;
}

.tabs{
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.tabs ul{
	display: flex;
	width: 100%;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	margin-bottom: 25px;
}

.tabs ul li{
	width: 33.3%;
	padding: 15px;
	word-wrap: break-word;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}


.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #026e8f;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e8f1f5;
	color: #026e8f;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.visit-flex
{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.content-map{
	background: #f7f9f9;
	border: 0px solid #dddddd;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 80%;

}

.tab_wrap .tab_content p{
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 10px;
}

.tab_wrap .tab_content h1{
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 10px;
}

.tab_wrap .tab_content ul li{
	margin-bottom: 5px;
	margin-left: 50px;
	list-style-type: disc;
}

.tab_wrap .tab_content ol li{
	margin-bottom: 10px;
	margin-left: 8px;
	list-style-type: decimal;
}


@media screen and (max-width:710) {
	.tabs ul li{
		font-size: 12px;
		font-weight: 600;
	}

	.wrapper{
		width: 100%;
	}


}

