@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

/* header{
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100%;
	aspect-ratio: 10/0.4;
	background: #fdf9f9;
	color: #fff;
	justify-content: center;
	align-items: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-bottom: 1px solid #4a1d1d;
}

.logo{
	width: 70%;
	height: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
  }

.logo img
{
	object-fit: contain;
	height: 100%;
	width: 100%;
	
}
  
a {
	text-decoration: none !important;
	color: #232323;
	font-weight: 500;
	transition: color 0.3s ease;
}

a:hover {
	color: #2e85cc;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menuToggle {
	display: block;
	position: absolute;
	top: 30px;
	right: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 2;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 250px;
	height: 100vh;
	margin: -100px 0 0 0;
    aspect-ratio: 3/5;
	padding: 50px;
	padding-top: 150px;
	right: -100px;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 20px 0;
	font-size: 1.2cqw;
	letter-spacing: 1.5;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
} */



  img {
	vertical-align: middle;
	height: auto;
	width: 100%;
  }
  
  .container{
	width: 100%;
	height: 70%;
	display:flex;
	margin-top: 5%;
  margin-bottom: 2%;
  
  position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
 .container iframe{
	width: 80%;
	height: 100%;
  box-shadow: 9px 9px 24px rgba(0,0,0,0.08);
  }

  *{
	list-style: none;
	padding:0;
	margin:0;
  }

.wrapper{
	width: 60%;
	margin: 5% 20%;
	z-index: 1;
	position: relative;
}

.tabs ul{
	display: flex;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	margin-bottom: 25px;
}

.tabs ul li{
	width: 350px;
	padding: 15px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}


.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #026e8f;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e8f1f5;
	color: #026e8f;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content{
	background: #f7f9f9;
	border: 0px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .tab_content p{
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 10px;
}

.tab_wrap .tab_content h1{
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 10px;
}

.tab_wrap .tab_content ul li{
	margin-bottom: 5px;
	margin-left: 50px;
	list-style-type: disc;
}

.tab_wrap .tab_content ol li{
	margin-bottom: 10px;
	margin-left: 8px;
	list-style-type: decimal;
}

footer{
	aspect-ratio: 1/0.33;
	position: relative;
	background: #0C6E98;
	width: 100%;
	top: 0;
	left: 0;
  }
  
  .content1
  {
	font-family: 'montserrat';
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 80%;
	top: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  .left-content
  {
	padding-top: 5%;
	width: 25%;
	top: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  }
  
  .left-content img
  {
	width: 85%;
	object-fit: contain;
  }
  
  .details
  {
	   width: 100%;
	  height: 18%;
	  /* margin-top: 1%; */
	  display: flex;
	  top: 50%;
	  left: 0;
	  flex-direction: row;
  
  }
  
  .details img
  {
	width: 20%;
	height: 70%;
	object-fit: contain;
  }
  
  .address
  {
	margin: 0;
  }
  .address p
  {
	color: white;
	font-size: 1cqw;
	padding: 0;
	margin: 0;
  }
  
  
  .container2
  {
	display: flex;
	flex-direction: column;
	top: 50%;
	width: 16%;
	padding-top: 13%;
  }
  
  .nav
  {
	height: 14%;
	font-size: 1cqw;
  }
  
  .nav a{
	text-decoration: none;
	color: white;
  }
  
  .calc-container
  {
	width: 43%;
	display: flex;
	top: 50%;
	flex-direction: column;
	padding-top: 7%;
  }
  .calc-container h1
  {
	font-size: 2.5cqw;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 400;
  }
  
  .calc-container h2
  {
	font-size: 0.9cqw;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	color: white;
	font-weight: 400;
	padding-left: 1%;
	padding-top: 1%;
  }
  
  .calc-details
  {
	width: 100%;
  }
  
  .detail-cont
  {
	display: flex;
	flex-direction: row;
  }
  
  .detail-cont input
  {
	
	width: 48%;
	font-size: 1cqw;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 4%;
	margin-top: 5%;
	margin-right: 2%;
  }
  
  .detail-cont input::placeholder
  {
	color: white;
	font-family: 'montserrat' ;
	font-weight: 400;
	letter-spacing: 1px;
  }
  
  .calc-details input
  {
	width: 98%;
	font-size: 1cqw;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 4%;
	margin-top: 5%;
	margin-bottom: 5%;
	
  }
  
  .calc-details input::placeholder
  {
	color: white;
	font-family: 'montserrat' ;
	font-weight: 400;
	letter-spacing: 1px;
  }
  
  .calc-details input:focus
  {
	outline: none;
	
  }
  
  
  .calc-container button
  {
	background-color: #0C6E98;
	color: white;
	padding: 2% 3%;
	border: 1px solid white;
	margin-left: 68%;
	font-size: 1cqw;
	width: 30%;
	margin-top: 3%;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .calc-container button:hover
  {
	background-color: white;
	color: #0C6E98;
  }
  
  
  
  .bottom-details
  {
	width: 80%;
	border-top: 1px solid white;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	display: flex;
	flex-direction: row;
  }
  
  .bottom-details h1
  {
	font-size: 1cqw;
	color: white;
	font-weight: 400;
	font-family: 'montserrat';
	width: 10%;
	margin-left: 41%;
  }
  
  
  .bottom-details button
  {
	padding: 0.7% 3%;
	font-size: 0.9cqw;
	margin-top: 0.5%;
	width: 8%;
	margin-left: 40%;
	background-color: #91DAA6;
	color: black;
	border: none;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .bottom-details button:hover{
	background-color: rgb(255, 255, 255);
  }




  