/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lora";
}
body {
  /* display: flex; */
  margin: 0;
}

.most-outer
{
  height: 100%;
  position: relative;
  width: 100%;
  justify-content: center;
  background-image: url("../img/leaf.jpg");
}

.register-details {
  /* min-height: 80%;
  padding-top: 10%; */
  
  display: flex;
  flex-wrap: wrap-reverse;
  z-index: 1;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  /* background: rgb(130, 106, 251); */
}

.register-fee {
  height: 80%;
  width: 50%;
  text-align: center;
}

.register-fee img {
  width: 80%;
  height: 100%;
}

.register-fee h1 {
  color: black;
  font-weight: 400;
  margin-top: 3%;
  text-align: center;
}

.container {
  
  position: relative;
  max-width: 700px;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 3%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:450px) 
{
  .container
  {
    margin-top: 25%;
    margin-bottom: 0%;
  }
  
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: #0C6E98;
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}

.form .title-box {
  margin-top: 20px;
}
.title-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.title-option, .title) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .title {
  column-gap: 5px;
}
.title input {
  accent-color: #0C6E98;
}
.form :where(.title input, .title label) {
  cursor: pointer;
}
.title label {
  color: #707070;
}


.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #0C6E98;
}
.form button:hover {
  background: #0C6E98;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload File";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;

  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  margin-top: 1.5%;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
